@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap');

body {
  background-image: url(../imagenes/image.png);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: inherit;           /* Quitamos el subrayado de la lista*/
}

.logo{
  float:left;
  margin-left: 40px;
  margin-top: 20px;
}

.Menú_Desplegable{
  font-family: 'Zen Maru Gothic', sans-serif;
  text-align:center;
  float:right;
  margin-right:250px; 
  list-style:none
}

.menu { 
  display: block;
  position: relative;
  cursor: pointer;
}

.menu_titulo {
  display: block;
  width: 150px;
  height: 40px;
  padding: 0px 0 0;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 100%, rgba(102,47,47,1) 100%);
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  transition: 0.3s background-color;
}

.menu_titulo:before {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #9dc852;
  border-left: (150px / 2) solid transparent;
  border-right: (150px / 2) solid transparent;
  border-bottom: 0 solid #dddddd;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}

.menu_titulo:hover {
  background: rgb(89,89,89);
  background: linear-gradient(90deg, rgba(89,89,89,1) 100%, rgba(102,47,47,1) 100%);
}
.menu_titulo:hover:before {
  border-top-color: #8db842;
}

.menu:hover > .menu_titulo:before {
  border-top-width: 0;
  transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

.menu_titulo:after {
  content: "";
  display: block;
  height: 0;
  border-left: (150px / 2) solid transparent;
  border-right: (150px / 2) solid transparent;
  border-bottom: 0 solid #ebebeb;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  transition: 0.2s border-bottom ease-in;
}

.menu:hover > .menu_titulo:after {
  border-bottom-width: 5px;
  transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu_titulo_2nd {
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 100%, rgba(102,47,47,1) 100%);
}
.menu_titulo_2nd:hover {
  background: rgb(89,89,89);
  background: linear-gradient(90deg, rgba(89,89,89,1) 100%, rgba(102,47,47,1) 100%);
}
.menu_titulo_2nd:before {
  border-top-color: #4e96b3;
}
.menu_titulo_2nd:hover:before {
  border-top-color: #3e86a3;
}

.menu_titulo_3rd {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 100%, rgba(102,47,47,1) 100%);
}
.menu_titulo_3rd:hover {
  background: rgb(89,89,89);
  background: linear-gradient(90deg, rgba(89,89,89,1) 100%, rgba(102,47,47,1) 100%);
}
.menu_titulo_3rd:before {
  border-top-color: #c97676;
}
.menu_titulo_3rd:hover:before {
  border-top-color: #b96666;
}

.menu_titulo_4th {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 100%, rgba(102,47,47,1) 100%);
}
.menu_titulo_4th:hover {
  background: rgb(89,89,89);
  background: linear-gradient(90deg, rgba(89,89,89,1) 100%, rgba(102,47,47,1) 100%);
}
.menu_titulo_4th:before {
  border-top-color: #dbab58;
}
.menu_titulo_4th:hover:before {
  border-top-color: #cb9b48;
}

.menu_desplegable{
  min-width: 100%;
  padding: 15px 0;
  position: absolute;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(174,174,203,1) 0%);
  transition: 0.5s padding, 0.5s background;
}

.menu_desplegable:after {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #ebebeb;
  border-left: (150px / 2) solid transparent;
  border-right: (150px / 2) solid transparent;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.5s border-top;
}

.menu:not(:hover) > .menu_desplegable {
  padding: 0px 0px;
  background: #dddddd;
  z-index: 99;
}

.menu:not(:hover) > .menu_desplegable:after {
  border-top-color: #dddddd;
}

.menu:not(:hover) > .menu-title:after {
  border-bottom-color: #dddddd;
}

.menu_desplegable > * {
  overflow: hidden;
  height: 40px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0);
  white-space: nowrap;
  transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5),
    0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5),
    0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color,
    0.2s background-color;
}

.menu_desplegable > *:hover {
  background: rgba(0, 0, 0, 0.1);
}

.menu:not(:hover) > .menu_desplegable > * {
  visibility: hidden;
  height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  color: rgba(25, 25, 25, 0);
  transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color,
    0.6s visibility;
  z-index: 99;
}

.Menú_Desplegable {
  //overflow: hidden;
}

.Menú_Desplegable > * {
  float: left;
}

.Menú_Desplegable > * + * {
  margin-left: 0;
}


.acceso {
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-align:center;
  float:right;
  padding: 0px 40px;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #000;
  transition: background-color 15ms linear,
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right:-830px; 
  margin-top: 38px;
  height: 36px;
  line-height: 2.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;z
}

.acceso:hover, .acceso:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #159090;
}

.acceso:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: #61b4b3;
}

.imagen_principal{
  width:80%; 
  position:absolute;
  padding-top: 200px;

}

.subtitulo_cuenta {
  position: absolute;
  margin-top: 320px;
  margin-left: 110px;
  font-size: 13px;
  line-height: 50px;
  color: #fff 
}

.titulo_cuenta_1 {
  position: absolute;
  overflow: hidden;
  font-weight: bold;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  margin-top: 300px;
    margin-left: 179px;
    color: #000;
    padding: 5px;  
    width: 35%;
    border-radius: 6px;
    text-transform: uppercase;
    text-align:center;
}

.info_cuenta_1 {
  position:absolute;
  margin-top: 20%;
  overflow: hidden;
  margin-left: 100px;
  color: #000;
  padding: 30px; 
  border: 2px solid #fff; 
  font-size: 20px;  
  font-family: 'Zen Maru Gothic', sans-serif;

}


.cero{
  position:absolute;
  width:300px;
  margin-top: 17%;
  margin-left: 35%;
}

.foto_banner{
  position:absolute;
  padding-top: 5%;
  width: 13%;

}

figure {
  margin-left:80%; 
  width: 10%;
}


.mag_content { 
  font-family: 'Zen Maru Gothic', sans-serif;
  position:absolute;
  margin-top:14%;
  margin-left:77%;
  padding: 30px;
  background: #000;
  width:15%;
}
.mag_content p {
  color: #fff;
  line-height: 26px;
  font-weight: 400;
}
.mag_content h2 {
  color: #fff;
  margin-top: 0;
}
.spacer {
  height: 20px;
}
